@model List<Product>

@{
    ViewData["Title"] = "Admin Panel";
}


<div class="container">
    <h1 class="display-4 mb-4">Admin Panel</h1>

    <p>
        <a asp-action="Create" asp-controller="Product" class="btn btn-primary">Create New Product</a>
    </p>

    @if (ViewBag.DeleteConfirmation == true || ViewBag.DeleteConfirmation == false)
    {
        @if (ViewBag.DeleteConfirmation)
        {
            <div class="alert alert-success">
                Product has been deleted successfuly.
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                Error: Product hasn't been deleted successfuly.
            </div>
        }

        <script>
            setTimeout(function () {
                $(".alert").fadeOut(1000);
            }, 3000);
        </script>
    }

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Image</th>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <partial name="_ProductCardPartial" model="product" />
                }
            </tbody>
        </table>
    </div>
</div>


<partial name="_ProductDeletePartial"/>

